@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Regular-FD.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Vazir-Regular-FD.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Vazir-Regular-FD.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Vazir-Regular-FD.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Vazir-Regular-FD.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


/* utility */

 :root {
    --font-Vazir: 'Vazir';
    --color-primary: #5C36BF;
    --color-secondary: #AA8AD5;
    --color-purple-high: #2A0040;
    --color-white: #ffffff;
}

body {
    font-family: var(--font-Vazir);
    background-image: linear-gradient(to bottom, #290234, #33276F);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--color-white);
    direction: rtl;
}

.container {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    height: 85%;
    box-shadow: 0px 20px 30px 13px #0000006e;
}

.opacity-0 {
    opacity: 0;
}


/* style */

.form-floating {
    position: relative;
}

.form-floating .form-control {
    color: #262444;
    box-shadow: none;
    border: none;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding-right: 65px;
    transition: all 0.2s;
}

.form-floating .form-control.is-invalid {
    border: 1px solid rgb(229, 52, 1);
    box-shadow: inset 0px 0px 20px 1px rgb(229, 52, 1);
    transition: all 0.2s;
}

.form-floating label {
    color: #8786A4;
    margin-right: 55px;
}

.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-0.7rem) translateX(-0.15rem);
}

.form-floating .bi,
.form-floating button {
    position: absolute;
}

.form-floating .bi {
    right: 10px;
    top: 50%;
    color: var(--color-primary);
    transform: translateY(-50%);
    font-size: 1.5rem;
    display: inline-flex;
    background-color: rgba(170, 138, 213, 0.3);
}

.form-floating button {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    color: #E5DCF2;
    padding: .375rem 1.5rem;
    box-shadow: none;
    border: none;
}

.form-floating button:hover {
    color: var(--color-white);
    background-color: var(--color-purple-high);
}

#is-invalid {
    background-color: rgb(233, 186, 173, 0.6);
    color: rgb(150, 34, 2);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 7px;
    transition: all 0.2s;
}

#contentQuestion {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    position: relative;
    border-radius: 10px;
    margin-top: 10vh;
}

#contentQuestion .question {
    color: var(--color-purple-high);
}

#contentQuestion .answer {
    background-color: rgba(42, 0, 64, 0.4);
    width: 45%;
    position: relative;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

#contentQuestion .answer.active {
    background-color: rgba(42, 0, 64, 1);
}

#contentQuestion .answer::before {
    position: absolute;
    content: '1';
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    color: var(--color-purple-high);
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

#contentQuestion .answer#option_2::before {
    content: '2';
}

#contentQuestion .answer#option_3::before {
    content: '3';
}

#contentQuestion .answer#option_4::before {
    content: '4';
}

#contentQuestion .answer:hover {
    background-color: rgba(42, 0, 64, 1);
    cursor: pointer;
}

#contentQuestion .answer.active {
    background-color: rgba(42, 0, 64, 1);
}

#contentQuestion .counter {
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-next,
.btn-prev,
.btn-end {
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    color: var(--color-purple-high);
    font-weight: bold;
    box-shadow: none;
    border: none;
    transition: all 0.2s;
}

.btn:focus {
    box-shadow: none;
}

.btn-next .bi,
.btn-prev .bi {
    display: inline-flex;
    position: relative;
    top: 3px;
    transform: translateX(0px);
    transition: all 0.2s;
}

.btn-next:hover,
.btn-prev:hover {
    color: var(--color-purple-high);
}

.btn-next:hover .bi {
    transform: translateX(5px);
}

.btn-prev:hover .bi {
    transform: translateX(-5px);
}

.btn:disabled {
    pointer-events: none;
    opacity: .5;
}

.card {
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.card .icon-status {
    font-size: 30px;
}

.card.true-status {
    background-color: rgba(85, 229, 254, 0.2);
    color: rgb(85, 229, 254);
}

.card.false-status {
    background-color: rgb(229, 52, 1, 0.2);
    color: rgb(229, 52, 1);
}

.card.no-answer {
    background-color: rgb(255, 191, 0, 0.2);
    color: rgb(255, 191, 0);
}

.card.remaining-time {
    background-color: rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

.btn-review,
.btn-end {
    background-color: rgba(42, 0, 64, 1);
    color: var(--color-white) !important;
    padding: .375rem 1.5rem;
    box-shadow: none;
    border: 2px solid transparent;
    margin: 0 1rem;
}

.btn-review:hover,
.btn-end:hover {
    border: 2px solid var(--color-white);
}

#contentQuestion .answer-review {
    background-color: rgba(42, 0, 64, 0.4);
    width: 45%;
    position: relative;
    border-radius: 8px;
    transition: all 0.3s;
}

#contentQuestion .answer-review::before {
    position: absolute;
    content: '1';
    width: 20px;
    height: 20px;
    background-color: var(--color-white);
    color: var(--color-purple-high);
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

#contentQuestion .answer-review#option_2::before {
    content: '2';
}

#contentQuestion .answer-review#option_3::before {
    content: '3';
}

#contentQuestion .answer-review#option_4::before {
    content: '4';
}

#answer-alert {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 7px;
}

.answer-true {
    background-color: rgba(85, 229, 254, 0.2) !important;
    color: rgb(85, 229, 254) !important;
}

.answer-false {
    background-color: rgb(229, 52, 1, 0.2) !important;
    color: rgb(150, 34, 2) !important;
}

.answer-noAnswer {
    background-color: rgb(255, 191, 0, 0.2) !important;
    color: rgb(255, 191, 0) !important;
}